body {
 background-color: #FFFFFF;
 color: blue;
 font-size: 12px;	
}
 
th {
 text-decoration: underline;
 text-transform: uppercase;
}

th:first-child {
 font-style: italic;
 letter-spacing: 3px;
}

th:nth-child(2) {
 font-style: italic;
 letter-spacing: 3px;
}

a:first-child {
 word-spacing: 10px;
 font-weight: bold;
}
